<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login">
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" name="phone" placeholder="Example: (817) 569-8900">
    </div>
    <div class="form-group">
        <label>ID</label>
        <input type="password" class="form-control" name="id" placeholder="Registration_Id">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>